.ipynb_checkpoints/
/2d_trials/output/
/3d_trials/dc/output/
/3d_trials/dc/3d_editing/bear/
/3d_trials/dc/3d_editing/gardenspheres_n/
/3d_trials/dc/3d_editing/outputs/
/3d_trials/dc/3d_editing/renders/
/3d_trials/dc/3d_editing/yuseung/
